#if($isConfigured)
<div style="border:2px solid green;padding:7px;">
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.customfieldopt"): $!cfView</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.regexopt"): $!regex</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.msgopt"): $!msg</strong></p>
</div>
#else
<div style="border:2px solid red;padding:7px;">
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.customfieldopt"): $!cfView</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.regexopt"): $!regex</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.regexvalidator.msgopt"): $!msg</strong></p>
</div>
#end